body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    text-align: center;
}

div {
    background-color: rgb(222, 219, 219);
    width: 1000px;
    max-width: 50%;
    margin: 0 auto 30px;
    padding: 20px;
}

h1 {
    color: #2a5bff;
    font-size: 36px;
    margin-top: 40px;
}

.subtitle {
    color: #2a5bff;
    font-style: italic;
    margin-bottom: 40px;
}

img {
    width: 500px;
    max-width: 90%;
    margin-bottom: 60px;
}

h2 {
    color:rgb(0, 187, 255);
    margin-bottom: 20px;
}

.location {
    font-size: 18px;
    line-height: 2;
}

.red {
    color: red;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}
