h1{
    color:#00bfff ;
    text-align: center;
}
input{
    border-color:#00bfff;
    height: 25px;
    padding-left: 12px;
}
textarea{
    border-color: #00bfff;
    height: 50px;
    padding-left: 12px;
}
button{
    background-color:#00bfff ;
}
form{
    text-align: center;
}