body{
    background-color: #eaf7ff;
    font-family: Arial, sans-serif;
    text-align: center;
}

h2{
    color: #1e90ff;
}

h3{
    color: #1e90ff;
}

img{
    width: 200px;
    margin: 20px 0;
}

div{
    background-color: white;
    width: 300px;
    margin: 0 auto 30px;
    padding: 20px;
}

p{
    line-height: 1.8;
}
